*{margin: 0px;
  padding: 0px;}

.containar{background-image: url(image/header-bg.png);
           width: 100%;
           height: 800px;}

.header-sec{height: 70%;
            width: 600px;
           float: left;
           
        margin-top: 60px;
        margin-left: 20px;
        padding-top: 20px;
         }

.header-sec img{width: 100%;
                height: 100%;}


 #header-text-sec{
                 padding-top: 20px;
                 padding-left: 60px;
                  }
 
 .header-sec h2{position: relative;
    top: 50px;}



.header-sec h1{
              position: relative;
              top: 80px;
               }
.header-sec p{padding-top: 100px;position: relative;
    top: 20px;}


.header-sec a{background-image: linear-gradient(80deg,pink,orange);
   text-decoration: none;
   position: relative;
   top: 40px;
   padding: 10px 20px;
   
   
    }



.last-section{width: 100%;
              height: 600px;
            }


.last-section h1{text-align: center;
                 margin-top: 2px;
                font-size: 50px;}



.last-divs {width: 30%;
            height:  400px;
           
            float: left;
            margin-left: 3px;
            padding-left: 30px;
            margin-top: 60px;
            }
.last-divs img{width: 100%;
               height: 100%;}



.footer-section{width: 100%;
                height: 100vh;
                text-align: center;}
.footer-section h1{margin-top: 20px;}
.footer-section h3{margin-top: 20px;}
.footer-section h5{margin-top: 20px;}
.footer-section p{margin-top: 10px;
                  width: 50%;
                  margin-left: 280px;
                 padding: 20px;
                text-align: center;}


.footer-div{width: 800px;
           height: 150px;
           background-color: darkmagenta;
           position: relative;
           border-radius: 8px;
            left: 260px; }

.footer-div p{position: relative;
              right: 70px;;
               }


 .footer-section h5{position: relative;
                    top: 100px;
                   }